:root {
    --text: #EDF1D6;
    --accent: #9DC08B;
    --border: #609966;
    --background: #40513B;
}
/* CSS Reset */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End of CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1{
    background-color: var(--background);
    color: var(--text);
    font-size: xx-large;

}